<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color:#0BA39B ;"> 
    <h1> ***** Alta de Nuevos Pacientes ***** </h1>
    

    <form>	
        nombre: <BR>
        <input type="text" name="" value=""><br><br>
        apellido:<br>
        <input type="text" name="" value=""><br><br>
        fechaNacimiento: <BR>
        <input type="date" name="" value=""><br><br>
        telefono:<br>
        <input type="text" name="" value=""><br><br>
        recomienda: <BR>
        <input type="text" name="" value=""><br><br>
        fechaInicio:<br>
        <input type="date" name="" value=""><br><br>
        coberturaMedica:<br>
        <select class="" id="coberturaMedica">
            <option value="PARICULAR">PARTICULAR</option>
            <option value="OSECAC">OSECAC</option>
            <option value="OSDE">OSDE</option>
            <option value="GALENO">GALENO</option>
            <option value="SWISS_MEDICAL">SWISS MEDICAL</option>
            <option value="MEDICUS">MEDICUS</option>
        </select><br><br>
        sesionesPorMes: <br>
        <input type="text" name="" value=""><br><br>
        sesionesAdeudadas:<br>
        <input type="text" name="" value=""><br><br>

        
        
    </form>    

</body>
</html>