<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> ***** Solicitar Turnos de Terapia ***** </h1>

    <form>	
        COMPLETE EL SIGUENTE FORMULARIO<br><br><br><br>
        NOMBRE <BR>
        <input type="text" name="" value=""><br><br>
        APELLIDO<br>
        <input type="text" name="" value=""><br><br>

        COBERTURA MEDICA<br>
        <select class="" id="coberturaMedica">
            <option value="PARICULAR">PARTICULAR</option>
            <option value="OSECAC">OSECAC</option>
            <option value="OSDE">OSDE</option>
            <option value="GALENO">GALENO</option>
            <option value="SWISS_MEDICAL">SWISS MEDICAL</option>
            <option value="MEDICUS">MEDICUS</option>
        </select><br><br>

      
    MODALIDAD <br>
    VIRTUAL:
      <input type="checkbox" name="" value="">
    PRESENCIAL:
      <input type="checkbox" name="" value=""><br>


        FECHA<br>
        <input type="date" name="" value=""><br><br>



        <!--fechaNacimiento: <BR>
        <input type="text" name="" value=""><br>
        telefono:<br>
        <input type="text" name="" value=""><br><br>
        recomienda: <BR>
        <input type="text" name="" value=""><br>
        fechaInicio:<br>
        <input type="text" name="" value=""><br><br>
        coberturaMedica:<br>
        <input type="text" name="" value=""><br><br>
        sesionesPorMes: <BR>
        <input type="text" name="" value=""><br>
        sesionesAdeudadas:<br>
        <input type="text" name="" value=""><br><br>-->
        
    </form>    
    
</body>
</html>